<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>You've ripped a hole in the fabric of the internet</title>
    <link rel="stylesheet" href="/static/css/404.css" type="text/css" />
    <script src="/static/js/snap.svg-min.js"></script>
</head>

<body>

<!-- <img src="/static/images/tron-art-01.jpg" alt="Page Not Found (404)." style="position: absolute; left: 50%; top: 50%; margin-left: -285px; margin-top: -190px;"> -->

<div>
    <svg id="svg-404" width="800px" viewBox="0 0 700 700" preserveAspectRatio="xMidyMid meet" ></svg>
</div>
<script>
    var paper = Snap("#svg-404");
    Snap.load("/static/img/bearded_404b.svg",onDrawingLoaded);
    function onDrawingLoaded(data){
        paper.append(data);
    }
</script>
</body>

</html>