{%- extends "base.html" %}

{% import "bootstrap/utils.html" as utils %}

{% block styles %}
{{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/bootstrap-custom.css') }}">
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div id="flash">
                    <div class='alert alert-danger alert-dismissible' role='alert' id='alert_error'>
                        <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
                            <span aria-hidden='true'>&times;</span></button>
                        <strong>Important Information! </strong> This site has been created in the hope that it may be useful. While every effort has been made to test and confirm the calculations no guarantees can be made that it is suitable or accurate for your needs. <li>You should not rely on the information provided</li><li>You should consult a variety of sources to gain information</li>In particular: <li><a href="http://www.emergency.vic.gov.au">Vic Emergency</a> </li><li><a href="http://www.cfa.vic.gov.au">Country Fire Authority</a> </li><li><a href="http://www.bom.gov.au">Bureau of Meterology</a> </li>If you have any suggestions or notice any bugs, then please let me know.
                    </div>
                    {%- with messages = get_flashed_messages(with_categories=True) %}
                    {%- if messages %}

                    {{ utils.flashed_messages(messages) }}

                    {%- endif %}
                    {%- endwith %}
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <div class="container-fluid">
        <div class='row'>
            <div class='col-md-2'>
                <fieldset class='form-group'>
                    <legend>Weather Configuration</legend>
                    <label for='weather_station'>Nearest Weather Station</label>
                    <select class='form-control' id='weather_station'>
                        <option value='0'>Select Available</option>
                    </select>
                    <label for='weather_town'>Nearest Town/Suburb</label>
                    <input type='text' class='form-control' id='weather_town' placeholder='Victorian Town/Suburb Name'>
                </fieldset>
                <fieldset class='form-group'>
                    <legend>Fire Configuration</legend>
                    <label for='fire_district'>Fire District</label>
                    <select class='form-control' id='fire_district'>
                        <option value='0' disabled selected>Select Available</option>
                        <option value='VIC_FW007'>Central</option>
                        <option value='VIC_FW001'>Mallee</option>
                        <option value='VIC_FW002'>Wimmera</option>
                        <option value='VIC_FW003'>Northern Country</option>
                        <option value='VIC_FW004'>North East</option>
                        <option value='VIC_FW005'>East Gippsland</option>
                        <option value='VIC_FW006'>West and South Gippsland</option>
                        <option value='VIC_FW008'>North Central</option>
                        <option value='VIC_FW009'>South West</option>
                    </select>
                    <label for='fdi_leave_trigger'>Leave Early Trigger</label>
                    <select class='form-control' id='fdi_leave_trigger'>
                        <option value='0' disabled selected>Select Available</option>
                        <option value='11' class="low-bg">Low - Moderate</option>
                        <option value='24' class="high-bg">High</option>
                        <option value='49' class="veryhigh-bg">Very High</option>
                        <option value='74' class="severe-bg">Severe</option>
                        <option value='99' class="extreme-bg">Extreme</option>
                        <option value='100' class="codered-text">Code Red</option>
                    </select>
                    <label for='default_mcarthur_fuel'>Default Fuel Load</label>
                    <input type='text' class='form-control' id='default_mcarthur_fuel' placeholder='0 - 50t/ha'>
                    <label for='default_mcarthur_drought'>Default Drought Factor</label>
                    <input type='text' class='form-control' id='default_mcarthur_drought' placeholder='0 - 10'>
                    <label for='default_mcarthur_slope'>Default Ground Slope</label>
                    <input type='text' class='form-control' id='default_mcarthur_slope' placeholder='&deg;'>
                </fieldset>
                <button type='button' class='btn btn-primary btn-block' id="remember_settings"> Remember All </button>
                <button type='button' class='btn btn-primary btn-block' id="clear_cache"> Clear Cache </button><br><br>
                <p><a href="http://www.bom.gov.au/data-access/3rd-party-attribution.shtml" ><img src="{{ url_for('.static', filename='img/banner_size02_arrow_grey.png') }}"></a></p>
            </div>
            <div class='col-md-2'>
                <fieldset class='form-group'>
                    <legend>McArthur Mk5</legend>
                    <label for='mcarthur_temp'>Temperature</label>
                    <input type='text' class='form-control' id='mcarthur_temp' placeholder='0 - 100&deg;C'>
                    <label for='mcarthur_humid'>Humidity</label>
                    <input type='text' class='form-control' id='mcarthur_humid' placeholder='0 - 100%'>
                    <label for='mcarthur_wind'>Wind Speed</label>
                    <input type='text' class='form-control' id='mcarthur_wind' placeholder='0 - 100km/hr'>
                    <label for='mcarthur_fuel'>Fuel Load</label>
                    <input type='text' class='form-control' id='mcarthur_fuel' placeholder='0 - 50t/ha'>
                    <label for='mcarthur_drought'>Drought Factor</label>
                    <input type='text' class='form-control' id='mcarthur_drought' placeholder='0 - 10'>
                    <label for='mcarthur_slope'>Ground Slope</label>
                    <input type='text' class='form-control' id='mcarthur_slope' placeholder='&deg;'>
                </fieldset>
                <button type='button' class='btn btn-outline-primary btn-block' id='mcarthur_load_weather'> Load Current Weather </button>
                <button type='button' class='btn btn-outline-primary btn-block' id='mcarthur_reset'> Reset </button>
                <button type='button' class='btn btn-primary btn-block' id='mcarthur_calculate'> Calculate </button>

                <p><br><img id="mcarthur_fdr" src="{{ url_for('.static', filename='img/fdr_null_new.png') }}" alt='fire danger rating scale' style='width:100%'></p>
                <p id="mcarthur_result" class="text-center"></p>
            </div>
            <div class='col-md-2'>
                <fieldset class='form-group'>
                    <legend>Official Forecast 4Days</legend>
                    <button type='button' class='btn btn-primary btn-block' id='forecast_fdi'> Refresh </button>
                    <!-- fetch and display the 4 day forecast -->
                    <div id="display_forecast_fdi_official"></div>
                </fieldset>
            </div>
            <div class="col-md-2">
                <fieldset class='form-group'>
                    <legend>FDI Forecast 24Hrs</legend>
                    <button type='button' class='btn btn-primary btn-block' id='forecast_fdi_calculate'> Calculate </button>
                </fieldset>
                <!-- calculate and display the 24hr day forecast -->
                <div id="display_forecast_fdi_custom"></div>

                Hourly Forecast data provided by:
                <a href="https://www.wunderground.com/?apiref=b4a9a03c34fe2514"><img src="{{ url_for('.static', filename='img/wundergroundLogo_4c_horz.png') }}" width="285"></a>
            </div>
        </div>
    </div>


{% endblock %}

{% block scripts %}
{{ super() }}
    <script src="{{ url_for('.static', filename='js/cookies.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/mcarthur.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/weather.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/fdi_forecast.js') }}"></script>

{% endblock %}